// A button suitable for giving stars to someone.
//
// :hover             - Subtle hover highlight.
// .stars-given       - A highlight indicating you've already given a star.
// .stars-given:hover - Subtle hover highlight on top of stars-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
// Styleguide 2.1.3.

a.button.star{
		display: inline-block;
	margin: 5px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	border: 1px solid #333;
	border-radius: 15px;
	color: #fff;
	background-color: #999;
  &.star-given{
	color: red;
  }
  &.disabled{
	color: #000;
  }
}